///////////////////////////
/////////// DATA OF ARTISTS

.container {
    background-color: var(--color-grey-light-4);
    padding: 35rem 0 10rem 0;
    margin-top: -20rem;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        align-items: center;
    }
    
    &__box {
        background-color: var(--color-grey-light-3);
        height: 40rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1.5rem 4rem var(--color-box-shadow);
        transition: transform .3s;

        @media only screen and (max-width: $bp-large) {

            &:not(:first-child) {
                margin-top: 3rem;
            }
        }

        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }

    &__icon {
        fill: var(--color-grey-light-3);
        height: 13rem;
        width: 13rem;
    }

    &__text-1 {
        padding: 2.3rem;
        
        &--style {
            color: var(--color-grey-light-3);
            font-size: 1.6rem;
            text-transform: uppercase;
        }
    }

    &__text-2 {
        padding-top: 2rem;

        &--style {
            font-size: 1.8rem;
        }
    }

    &__text-3 {
        padding: 2rem;

        &--style {
            font-size: 1.8rem;
        }
    }

    &__btn {
        border: none;
        font-size: 1.5rem;
        background-color: transparent;
        font-family: inherit;
        cursor: pointer;
        color: var(--color-btn-1);
        outline: none;
        border-bottom: 1px solid var(--color-btn-1);
        transition: all .2s;

        &:hover  {
            color: var(--color-btn-2);
            background-color: var(--color-btn-1);
            transform: translateY(-2px);
        }
    }

    &__picture {
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-blend-mode: screen;

        &--1 {
            background-image: linear-gradient(
            to right bottom, 
            var(--gradient-color-primary), 
            var(--gradient-color-secondary)), 
            url(../img/bg-card1-640×452.jpg);
            background-size: cover;
        }

        &--2 {
            background-image: linear-gradient(
            to right bottom, 
            var(--gradient-color-1-bg-2), 
            var(--gradient-color-2-bg-2)), 
            url(../img/bg-card2-640×423.jpg);
            background-size: cover;
        }

        &--3 {
            background-image: linear-gradient(
            to right bottom, 
            var(--gradient-color-1-bg-3), 
            var(--gradient-color-2-bg-3)), 
            url(../img/bg-card3-640×426.jpg);
            background-size: cover;
        }
    }
}

///////////////////////////
/////////// DATA OF ALBUMS

.bg-video {
    opacity: 0.1;
    height: 100%;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    position: absolute;
    
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}   

.albums {
    height: 55rem;
    width: 100%;
    position: relative;
    display: block;

    @media only screen and (max-width: $bp-smaller) {
        height: 70rem;;
    }

    @media only screen and (max-width: $bp-smallest) {
        height: 75rem;
    }
    
    &__title {
        width: 100%;
        position: absolute;
        padding: 1rem;
        background-color: rgba(255,255,255,0.6);
        text-align: center;
        
        &--text {
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
        }
    }
}

.result {
   position: absolute;
   width: 100%;

}

.box { 
    width: 85%;
    padding: 2rem;
    font-size: 1.7rem;
    transform: skewX(-12deg);
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    margin: 1rem auto;

    & > * {
        transform: skewX(12deg);
        display: inline-block;  
    }

    &:first-child {
        margin-top: 11rem;

        @media only screen and (max-width: $bp-smallest) {
            margin-top: 15rem;
        }
    }
}

///////////////////////////
//////////////// PAGINATION

.albums {

    &__pages {
        text-align: center;
        display: block;
        width: 100%;
        position: absolute;
        bottom: .5rem;
        margin-left: auto;
        margin-right: auto;
        
        & button:first-child {
            margin-right: 2.5rem;
        }
    }
  
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: currentColor;
        transform: translateY(3px);
    }

    &__btn--prev, &__btn--next {
        outline: none;
        border: none;
        color: currentColor;
        background-color: transparent;
        transition: all .3s;
        cursor: pointer;
        margin-bottom: 1rem;

        &:hover {
            color: var(--color-btn-hover);
        }
    }
}

////////////////////////////
//////////////////// FOOTER

.footer {
    background-color: var(--color-bg);
    padding: .7rem 0;
    
    &__text {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__text--style {
        color: var(--heading-font-color);
        font-size: 1.2rem;
    }

    &__icon {
        height: 1rem;
        width: 1rem;
        fill: var(--color-icon);
        margin-left: 2px;
        margin-right: 2px;
    }

    &__copyright {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__button {
        background-color: transparent;
        border: none;
        outline: none;
        text-align: center;
        display: block;
        width: 100%;

        &:hover {
            cursor: pointer;
        }

        & a:not(:last-child) {
            margin-right: 12px;
        }   
    }
    
    &__icons {
        height: 1.3rem;
        width: 1.3rem;
        fill: var(--heading-font-color);
        margin: 0 auto;

        &:hover {
            fill: var(--default-font-color);
            cursor: pointer;
        }
    }  
}
